<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css" />
	<script type="text/javascript" src="../localJs/public.js"></script>
	<script type="text/javascript" src="/lib/template-web.js"></script>
	<script type="text/javascript" src="../localJs/create-tables.js"></script>
	<link rel="stylesheet" type="text/css" href="../localcss/getrcss.css" />
	<![endif]-->
	<title>表结构</title>
</head>
<body onload="queryTables();">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
	代码生成器 <span class="c-gray en">&gt;</span> 表结构
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
		<i class="Hui-iconfont">&#xe68f;</i>
	</a>
</nav><div class="page-container">
	<div id="tab-system" class="HuiTab">
		<div class="tabBar cl">
			<span>表结构</span>
			<span>表配置</span>
		</div>
		<div class="tabCon">
			<div class="page-container">
				<div class="codeView docs-example" >
					<div style="width: 100%;height: 400px;overflow:auto;">
						<table class="table  table-hover table-bg table-sort" >
							<tbody id="myTbody" />
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="tabCon">
			<div class="page-container">
				<table class="table table-border table-bordered table-bg mt-20">
					<thead>
					<tr>
						<th colspan="2" scope="col">
							<a title="批量执行" href="javascript:;" onclick="barchRemove();" class="ml-5" style="text-decoration:none;">
								批量执行	<i class="Hui-iconfont">&#xe6e6;</i>
							</a>
							<a title="清除控制台" href="javascript:;" onclick="cleartextArea('delTextarea');" class="ml-5" style="text-decoration:none;">
								清除控制台	<i class="Hui-iconfont">&#xe68f;</i>
							</a>
						</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<th width="15%">扫描目录：</th>
						<th colspan="1" scope="col">
                                <span class="btn-upload form-group" >
                                    <input class="input-text" type="text" name="filpath" id="filpath"  style="width:500px">
                                    <a href="javascript:void(0);" class="btn btn-default" onclick="getLocalPath('scan-batch-folder');"><i class="Hui-iconfont">&#xe6d4;</i> 选择路径</a>
                                </span>
						</th>
					</tr>
					<tr>
						<th colspan="2" scope="col">
							<textarea name="" cols="" rows="" class="textarea" id="delTextarea" readonly="readonly"></textarea>
						</th>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>
<!--_footer 作为公共模版分离出去-->
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

	$(function(){
		$('.skin-minimal input').iCheck({
			checkboxClass: 'icheckbox-blue',
			radioClass: 'iradio-blue',
			increaseArea: '20%'
		});
		$("#tab-system").Huitab({
			index:0
		});
	});
</script>

<script type="text/html" id="table_Template">
	{{each resltlst as value i}}
	<tr class="text-c">
		<th>
			{{if value.tablcom1 != undefined}}
			<a href="javascript:void(0)" onclick="openTables('{{value.tablcom1}}','{{value.tablnam1}}')">
				<i class="Hui-iconfont">&#xe627;</i>
				<span>{{value.tablnam1}}</span>
				<span>[{{value.tablcom1}}]</span>
			</a>
			{{/if}}
		</th>
		<th>
			{{if value.tablcom2 != undefined}}
			<a href="javascript:void(0)" onclick="openTables('{{value.tablcom2}}','{{value.tablnam2}}')">
				<i class="Hui-iconfont">&#xe627;</i>
				<span>{{value.tablnam2}}</span>
				<span>[{{value.tablcom2}}]</span>
			</a>
			{{/if}}
		</th>
		<th>
			{{if value.tablcom3 != undefined}}
			<a href="javascript:void(0)" onclick="openTables('{{value.tablcom3}}','{{value.tablnam3}}')">
				<i class="Hui-iconfont">&#xe627;</i>
				<span>{{value.tablnam3}}</span>
				<span>[{{value.tablcom3}}]</span>
			</a>
			{{/if}}
		</th>
		<th>
			{{if value.tablcom4 != undefined}}
			<a href="javascript:void(0)" onclick="openTables('{{value.tablcom4}}','{{value.tablnam4}}')">
				<i class="Hui-iconfont">&#xe627;</i>
				<span>{{value.tablnam4}}</span>
				<span>[{{value.tablcom4}}]</span>
			</a>
			{{/if}}
		</th>
	</tr>
	{{/each}}
</script>

</body>
</html>